!!! 5
%html
  %head
    %title Space Frame
    %meta{ charset : "utf-8" }
    %link{ type : "text/css", rel : "stylesheet", media : "all", href : "../dist/spaceFrame.css" }
    %link{ type : "text/css", rel : "stylesheet", media : "all", href : "demo.css" }
    %script{ type : "text/javascript", src : "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js" }
    %script{ type : "text/javascript", src : "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" }
    %script{ type : "text/javascript", src : "../dist/spaceFrame.js" }
    %script{ type : "text/javascript", src : "demo.js" }
  %body
    %button#animate Animate
    %button#refresh Refresh
    %button#destroy Destroy
    %h1 4 Panel
    .space-frame#four_panel
      .space-scrubber
      .space-panel
        %img{ src : "kitty.jpg"}
      .space-panel
        %img{ src : "kitty_red.jpg"}
      .space-panel
        %img{ src : "kitty_green.jpg"}
      .space-panel
        %img{ src : "kitty_blue.jpg"}

    %h1 2 Panel Left/Right
    .space-frame.x#two_panel_left_right
      .space-scrubber
      .space-panel
        %img{ src : "kitty_red.jpg"}
      .space-panel
        %img{ src : "kitty_blue.jpg"}

    %h1 2 Panel Top/Bottom
    .space-frame.y#two_panel_top_bottom
      .space-scrubber
      .space-panel
        %img{ src : "kitty_green.jpg"}
      .space-panel
        %img{ src : "kitty_blue.jpg"}
